@import '../../assets/globals/colors.scss';

.footer {
  max-width: 1080px !important;
  color: $blue;
  text-decoration: underline;
  font: 12px 'Montserrat';
  letter-spacing: 0px;
  opacity: 0.7;
  text-align: right;
  margin: 25px 0px;
}

@media (max-width: 1025px) {
  .footer {
    text-align: center;
  }
}